/*green #58D705
red #F50505
gray1 #A6A2A0
gray2 #D7D3D0*/

:root {
	/*ccel = cube container edge length*/
	/*cztp = cube z translate positive val*/
	/*cztn = cube z translate negative val*/
  --ccel: 40vw;
	--cztp: calc(var(--ccel)/2);
	--cztn: calc(var(--ccel)/-2);

  --main_bg_color: #a18cd1;

  --reg_name_bg_color: #FFFF00;
  --reg_email_bg_color: #FFF200;
  --reg_pass_bg_color: #FFD500;

  --confirm_reg_bg_color: #00FF00;

  --login_bg_color: #018CFF;

  --list_bg_color: #FF3D00;
}

body {
	padding: 0;
	margin: 0;
  overflow: hidden;
  font-size: 30px;
}

/*cube mechanics*/
.cube_container {
	margin-left: calc(100vw/2 - var(--ccel)/2);
	margin-top: calc(100vh/2 - var(--ccel)/2);
  width: var(--ccel);
  height: var(--ccel);
  position: relative;
  perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
	transform: translateZ(var(--cztn));
	transition: transform 1s;
}

#cube figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#cube .front  { background-color: var(--main_bg_color); transform: rotateY(   0deg ) translateZ(var(--cztp)); }
#cube .back   { transform: rotateX( 180deg ) translateZ(var(--cztp)); }
#cube .right  { background-color: var(--login_bg_color); transform: rotateY(  90deg ) translateZ(var(--cztp)); }
#cube .left   { transform: rotateY( -90deg ) translateZ(var(--cztp)); } /*left colors set differently due to multiple cards*/
#cube .top    { background-color: var(--list_bg_color); transform: rotateX(  90deg ) translateZ(var(--cztp)); }
#cube .bottom { background-color: var(--confirm_reg_bg_color); transform: rotateX( -90deg ) translateZ(var(--cztp)); }

#cube.show-front  { transform: translateZ(var(--cztn)) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ(var(--cztn)) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ(var(--cztn)) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ(var(--cztn)) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ(var(--cztn)) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ(var(--cztn)) rotateX(   90deg ); }

/*menu view*/
.row {
	position: absolute;
	top: 25%;
	width: 100%;
	height: 50%;
  margin: 0;
}

.big_btn {
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transition: 1s ease-out;
  background-color: white;
}

.big_btn:hover {
  border-radius: 0;
}

.btn_text {
  line-height: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

/*register view*/
.register_input_wrapper {
	width: 100%;
	height: 100%;
}

#user_wrapper {
  position: relative;
  background-color: var(--reg_name_bg_color);
}

#email_wrapper {
  position: relative;
  opacity: 0;
  background-color: var(--reg_email_bg_color);
}
#pass_wrapper {
  position: relative;
  opacity: 0;
  background-color: var(--reg_pass_bg_color);
}

.register_caption {
	position: absolute;
	margin-top: 35%;
	width: 100%;
	text-align: center;
  color: black;
}

.register_input_field {
	margin-left: 20%;
	margin-top: 45%;
	width: 60%;
	height: 10%;
  border: none;
  padding-left:2%;
  padding-right:2%;
}

/*nav elements*/
.ok_circle {
	position: absolute;
	width:20%;
	margin-left: 40%;
	height:20%;
	margin-top: 5%;
	border-radius: 50%;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.ok_circle.disabled {
    border: 3px solid #FF0000;
}
.ok_circle.enabled {
  border: 3px solid #B6FF00;
}

.ok_arrow {
	position: absolute;
	width: 60%;
	left: 15%;
	height:60%;
  top: -80%;
  transition: 0.5s ease-out;
}
.ok_circle.disabled:hover {
  background-color: #FF0000;
}
.ok_circle.enabled:hover {
  background-color: #B6FF00;
}
.ok_circle.enabled:hover > .ok_arrow {
  top: 27%;
}

.ok_circle.enabled:hover > #ok_arrow_right {
  top: 19%;
  left: 23%;
  transform: rotateZ(-90deg);
}

/*nav right bar*/
.back_bar_r {
  position: absolute;
  top: 0;
	right:0;
	height:100%;
  width: 10%;
  transition: 0.5s ease-out;
}
.back_bar_r:hover {
  width: 15%;
}
#back_name_main, #back_login_main {
  background-color: var(--main_bg_color);
}

/*nav up bar*/
.back_bar_u {
  position: absolute;
  top: 0;
	left:0;
	height:10%;
  width: 100%;
  transition: 0.5s ease-out;
}
.back_bar_u:hover {
  height: 15%;
}
/*nav down bar*/
.back_bar_d {
  position: absolute;
  bottom: 0;
	left:0;
	height:10%;
  width: 100%;
  transition: 0.5s ease-out;
}
.back_bar_d:hover {
  height: 15%;
}
#back_email_name {
  background-color: var(--reg_name_bg_color);
}
#back_pass_email {
  background-color: var(--reg_email_bg_color);
}
#back_conf_reg_main {
  background-color: var(--main_bg_color);
}
/*nav left bar*/
.back_bar_l {
  position: absolute;
  top: 0;
	left:0;
	height:100%;
  width: 10%;
  transition: 0.5s ease-out;
}
.back_bar_l:hover {
  width: 15%;
}

#back_conf_reg_name {
  background-color: var(--reg_name_bg_color);
}
#back_conf_reg_email {
  background-color: var(--reg_email_bg_color);
}

/*register confirmation info*/
#reg_conf_caption {
	position: absolute;
	top: 20%;
  height: 50%;
	width: 80%;
  margin-left: 10%;
  margin-right: 10%;
	text-align: center;
}
#reg_conf_link {
  color: white;
  font-size: 15px;
  position: absolute;
  top:80%;
  width: 100%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/*login*/
.login_input_wrapper {
  margin-top: 25%;
}

.login_caption {
  display: block;
  margin-top: 2%;
	width: 100%;
	text-align: center;
  color: black;
}

.login_input_field {
  display: block;
	margin-left: 20%;
	width: 60%;
	height: 10%;
  border: none;
  padding-left:2%;
  padding-right:2%;
}

#bad_auth {
  display: none;
  position: absolute;
  top: 7%;
  left:10%;
  width: 80%;
  text-align: center;
  color: white;
}

.ok_circle.enabled:hover > #ok_arrow_bottom_right {
  left: 23%;
  transform: rotateZ(-45deg);
}

/*list*/
#back_list_main {
  text-align: center;
  color: transparent;
  background-color: var(--main_bg_color);
}
#back_list_main:hover {
  text-align: center;
  color: white;
}

#the_list {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}
